@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1 style="color: white; margin:5px " class="display-6 fw-bolder">@ViewBag.Title.</h1>
</hgroup>

<div>
    <p style="margin:5px" class="lead fw-normal text-white mb-0">
        Please check your email to reset your password.
    </p>
</div>
	
